@model UserData

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

<div>

<div id="content" class="content account_personal_details">
<div class="pageWidth">
<div class="pageContent">
<div class="titleBar">
	<h1>Персональная информация</h1>
</div>

<!-- main template -->

<div class="container" style="padding: 0">
<div class="navigationSideBar ToggleTriggerAnchor account_sidebar">
	<h4 class="heading ToggleTrigger" data-target="> ul" data-toggle-if-pointer="yes">Учётная запись <span></span></h4>
	<ul data-toggle-class="menuVisible">
		<li class="section">
			<ul>
				<li>
					<a class="secondaryContent" href="#">Персональная информация</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Оповещения</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Новостная лента</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Полученные симпатии</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Отслеживаемые темы</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Отслеживаемые разделы</a>
				</li>
			</ul>
		</li>

		<!-- slot: pre_conversations -->

		<li class="section">
			<h4 class="subHeading">Переписки</h4>
			<ul>
				<li>
					<a class="primaryContent" href="#">Просмотр переписок</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Начать новую переписку</a>
				</li>
			</ul>
		</li>

		<!-- slot: pre_settings -->

		<li class="section">
			<h4 class="subHeading">Настройки</h4>
			<ul>
				<li>
					<a class="primaryContent" href="#">Подпись</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Конфиденциальность</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Настройки</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Настройки оповещений</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Подписка</a>
				</li>
				<li>
					<a class="primaryContent" href="#">Игнорируемые пользователи</a>
				</li>
			</ul>
		</li>

		<li class="section">
			<ul>
				<li>
					<a asp-action="Logout" asp-controller="Account" class="LogOut primaryContent">Выход</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="mainContentBlock section sectionMain insideSidebar">
	
	<form onsubmit="updateStatus(event);" method="post" class="xenForm personalDetailsForm AutoValidator" id="formStatus">
		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal">Сообщение статуса:</label>
			</dt>
			<dd>
				<input type="text" maxlength="140" name="status" id="input-user-status" placeholder=" Для сохранения нажмите клавишу enter" class="textCtrl StatusEditor UserTagger Elastic OptOut">
				<span id="statusEditorCounter" class="statusEditorCounter">140</span>
				<div class="explain">
					<h3 class="statusHeader">Текущий статус:</h3> <span id="currentStatus" class="CurrentStatus">@Model.Status</span>
				</div>
			</dd>
		</dl>
	</form>
	
	<form method="post" asp-action="Index" asp-controller="Users" class="xenForm personalDetailsForm AutoValidator">

		<fieldset>
			<dl class="ctrlUnit avatarEditor">
				<dt>
					<label style="font-weight: normal">Аватар:</label>
				</dt>
				<dd>
					<a href="#" class="avatar Av1913m OverlayTrigger" data-avatarhtml="true">
						<img class="img m" src="@Model.AvatarPath" alt="">
					</a>
					<p class="explain">Нажмите на изображение, чтобы изменить Ваш аватар.</p>
				</dd>
			</dl>
		</fieldset>

		<fieldset>

		</fieldset>
		<dl class="ctrlUnit" style="margin-bottom: 10px;">
			<dt>
				<label style="font-weight: normal" asp-for="UserName">Логин:</label>
			</dt>
			<dd>
				<input type="text" asp-for="UserName" style="background-color: rgb(233 236 239)" disabled class="textCtrl AutoComplete ">
				<p class="explain">
					Чтобы людям было проще находить ваш аккаунт, используйте имя, под которым вас знают: ваше имя и фамилию, никнейм или название компании.
					<br><br>Изменить имя можно не более двух раз в течение 14 дней.
				</p>
			</dd>
		</dl>
		<dl class="ctrlUnit ctrlUnit-my">
			<dt>
				<label style="font-weight: normal"></label>
			</dt>
			<dd>
				<p class="explain">
					<span class="ctrlUnit-my-span">Личная информация</span> <br>
					Укажите личную информацию, даже если аккаунт будет использоваться для компании, домашнего животного или в других целях. Эти сведения не будут показываться в вашем общедоступном профиле.
				</p>
			</dd>
		</dl>
		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="Email">E-mail:</label>
			</dt>
			<dd >
				<input type="email" asp-for="Email" style="background-color: rgb(233 236 239)" disabled class="textCtrl AutoComplete ">
			</dd>
		</dl >

		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="Name">Имя:</label>
			</dt>
			<dd>
				<input type="text" asp-for="Name" class="textCtrl AutoComplete" id="ctrl_users">
				<span asp-validation-for="Name"></span>
			</dd>
		</dl>
		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="Surname">Фамилия:</label>
			</dt>
			<dd>
				<input type="text" asp-for="Surname" class="textCtrl AutoComplete">
				<span asp-validation-for="Surname"></span>
			</dd>
		</dl>
		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="DateBirth">Дата рождения:</label>
			</dt>
			<dd>
				<input type="date" asp-for="DateBirth" class="textCtrl AutoComplete">
				<span asp-validation-for="DateBirth"></span>
			</dd>
		</dl>
		<dl class="ctrlUnit" style="margin-bottom: 35px;">
			<dt>
				<label style="font-weight: normal" asp-for="Gender">Пол:</label>
			</dt>
			<dd>
				<select asp-for="Gender" class="textCtrl" id="ctrl_language_id">
					<option value="@Gender.None">не указано...</option>
					<option value="@Gender.Man">Мужской</option>
					<option value="@Gender.Woman">Женский</option>
				</select>
				<span asp-validation-for="Gender"></span>
			</dd>
		</dl>

		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="Faculty">Факультет:</label>
			</dt>
			<dd>
				<select asp-for="Faculty" class="textCtrl" id="ctrl_language_id">
					<option value="@Faculty.FacultyOfEngineeringAndInformationTechnology">Инжиниринга и Информационных Технологий</option>
					<option value="@Faculty.FacultyOfFoodProduction">Пищевых Производств</option>
					<option value="@Faculty.FacultyOfLightIndustryAndDesign">Легкой Промышленности и Дизайна</option>
					<option value="@Faculty.FacultyOfEconomicsAndBusiness">Экономики и бизнеса</option>
					<option value="@Faculty.FacultyOfDistanceLearning">Дистанционного обучения</option>
				</select>
				<span asp-validation-for="Faculty"></span>
			</dd>
		</dl>
		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="Specialty">Специальность:</label>
			</dt>
			<dd>
				<select asp-for="Specialty" class="textCtrl">
					<option value="ВТиПО">ВТиПО</option>
				</select>
				<span asp-validation-for="Faculty"></span>
			</dd>
		</dl>
		<dl class="ctrlUnit">
			<dt>
				<label style="font-weight: normal" asp-for="Group">Группа:</label>
			</dt>
			<dd>
				<input type="text" asp-for="Group" class="textCtrl AutoComplete">
				<span asp-validation-for="Group"></span>
			</dd>
		</dl>

		<dl class="ctrlUnit" style="margin-bottom: 35px;">
			<dt>
				<label style="font-weight: normal" asp-for="Course">Курс:</label>
			</dt>
			<dd>
				<select asp-for="Course" class="textCtrl" id="ctrl_language_id">
					<option value="1" selected="selected">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<span asp-validation-for="Course"></span>
			</dd>
		</dl>

		<dl class="ctrlUnit" style="margin-bottom: 20px;!important;">
			<dt>
				<label style="font-weight: normal" asp-for="AboutMe">О Себе:</label>
			</dt>
			<dd>
				<textarea  rows="2" asp-for="AboutMe" placeholder="#HelloWorld" cols="60"  class="textCtrl StatusEditor UserTagger Elastic OptOut" ></textarea>
				<span asp-validation-for="AboutMe"></span>
			</dd>
		</dl>


		<dl class="ctrlUnit submitUnit">
			<dt></dt>
			<dd style="text-align: end">
				<input type="submit" value="Сохранить изменения" accesskey="s" class="button primary">
			</dd>
		</dl>

		<input type="hidden" name="_xfToken" value="1913,1615031056,5aac3e462c16d4202274c8ae42618c37366e5bc5">
	</form>
</div>
</div>


</div>
</div>
</div>
</div>

@section Scripts
{
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	
	<script> 
	 function updateStatus(event) {
                event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("UpdateStatus", "Users")',
                        data: $('#formStatus').serialize(),
                        type: 'POST',
                        success: function (data) {
                            if (data === true) {
                            	$('#currentStatus').text($('#input-user-status').val())
                            	$('#input-user-status').val('');
          
                            }
                            else {
                                if (data === false) {
                                    alert("Статус не сохранен")
                                }
                                else {
                                    alert(data);
                                }
                            }
                        }
                    })
            }
	</script>
}
