@model List<ItemEvent>

@{
    ViewData["Title"] = "учебное пространство";
}
    
<style>
            #content.content .pageContent {
                background: none;
                box-shadow: none;
            }
        </style>

    <div class="slider">

        <div class="elma-slider" style="display:none;">
            <span class="item-type">Вебинар</span>
            <span class="item-date">8 февраля 2018. Начало в 11:00 (мск)</span>
            <h2 class="item-heading">Создаем инструмент для совместной работы филиальной сети</h2>
            <a href="https://www.elma-bpm.ru/landing/customer-cases/" target="_blank" class="item-button">Участвовать бесплатно</a>
        </div>
        <!-- просто картинка -->
        <div class="elma-slider-tips" style="margin-bottom:-16px;">
            <a href="#" target="_blank">
                <img src="https://www.elma-bpm.ru/images/forum/banner_forum.png" style="width:100%;">
            </a>
        </div>

    </div>

    <div id="content" class="content forum_list">
        <div class="pageWidth">
            <div class="pageContent">
                <!-- main content area -->

                <div class="mainContainer">
                    <div class="mainContent">
                        <!-- main template -->

                        <ol class="nodeList sectionMain" id="forums">
                            @foreach (var itemEvent in Model)
                            {
                                <li class="node category level_1 node_60" id="60">
                                    <div class="nodeInfo categoryNodeInfo categoryStrip">
                                        <div class="categoryText">
                                            <h3 class="nodeTitle">
                                                <a  href="">@itemEvent.Name</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <ol class="nodeList">
                                        @foreach (var topic in itemEvent.Topics)
                                        {
                                            <li class="node forum level_2  node_40">
                                                <div class="nodeInfo forumNodeInfo primaryContent unread">
                                                    <div class="nodeText">
                                                        <h3 class="nodeTitle">
                                                            <a href="" style="font-weight: normal" data-description="#nodeDescription-40">@topic.Name</a>
                                                        </h3>
                                                        <div class="nodeStats pairsInline">
                                                            <dl >
                                                                <dt style="font-weight: normal">Темы:</dt> <dd>@topic.TopicNumber</dd>
                                                            </dl>
                                                            <dl >
                                                                <dt style="font-weight: normal">Сообщения:</dt> <dd>@topic.MessageNumber</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <div class="nodeLatestMessage">
                                                        <span class="date-last">
                                                            <span class="DateTime muted lastThreadDate" data-latest="Последнее: " title="6 авг 2020 в 10:10">6 авг 2020</span>
                                                        </span>
                                                        <a href="" class="username" >@topic.Author.Name</a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ol>

                                </li>
                            }
                        </ol>
                        
                    </div>
                </div>

                <!-- sidebar -->
            <aside>
                
                    <div class="sidebar">
                        @if (User.Identity.IsAuthenticated)
                        {
                            
                            <div class="section visitorPanel">
                                <div class="secondaryContent">
                                    <a href="#" class="avatar Av1913m" data-avatarhtml="true"><img src="/images/img/avatar_non.png" width="96" height="96" alt=""></a>
                                    <div class="visitorText">
                                        <h2><span class="muted">Вы вошли как:</span> <a class="username NoOverlay" asp-action="Index" asp-controller="Users">@ViewBag.User.Name</a></h2>
                                        <div class="stats">
                                            <dl class="pairsJustified"><dt style="font-weight: normal">Сообщения:</dt> <dd>@ViewBag.User.MessageNumber</dd></dl>
                                            <dl class="pairsJustified"><dt style="font-weight: normal">Симпатии:</dt> <dd>@ViewBag.User.Like</dd></dl>
                                            <dl class="pairsJustified"><dt style="font-weight: normal">Рейтинг:</dt> <dd>@ViewBag.User.Rating</dd></dl>
				
                                        </div>
			
                                    </div>
		
                                </div>
                            </div>
                        }
                        else 
                        {
                            #region Это кусок кода сейчас не нужен
                        // <!-- Форма регистрации -->
                        //     <div class="section login-form">
                        //         <h3>Вход</h3>
                        //         <h3>|</h3>
                        //         <h3>
                        //             <a asp-action="Regist" asp-controller="Account">Регистрация</a>
                        //         </h3>
                        //         <form asp-action="Login" asp-controller="Account" method="post" class="xenForm authorization-form" id="authorization">
                        //             <div class="ctrlWrapper">
                        //                 <dl class="ctrlUnit">
                        //                     <dd>
                        //                         <input type="text" name="EmailAndUserName" id="LoginControl" class="textCtrl" placeholder="e-mail">
                        //                     </dd>
                        //                 </dl>
                        //                 <dl class="ctrlUnit">
                        //                     <dd>
                        //                         <input type="password" name="Password" class="textCtrl" id="ctrl_password" placeholder="password">
                        //                     </dd>
                        //                 </dl>
                        //                 <dl class="ctrlUnit submitUnit">
                        //                     <dd>
                        //                         <input type="submit" class="button primary" value="Вход">
                        //                         <div class="lostPasswordLogin">
                        //                             <a href="#" class="OverlayTrigger OverlayCloser" tabindex="106">Забыли пароль?</a>
                        //                         </div>
                        //                     </dd>
                        //                 </dl>
                        //             </div>
                        //         </form>
                        //     </div>
                            #endregion
                        }
                    <div class="section widget-single">
                        <div class="secondaryContent widget sidebar-widget WidgetFramework_WidgetRenderer_Threads" id="widget-21">
                            <h3>

                                Популярные темы

                            </h3>
                            <div class="WidgetFramework_WidgetRenderer_Threads_Sidebar avatarList">
                                <ul>

                                    <li class="thread-1050 thread-node-45">
                                        <a href="members/1834/" class="avatar Av1834s" data-avatarhtml="true"><img src="images/img/avatar_non.png" width="36" height="36" alt="error"></a>
                                        <a class="Tooltip" href="threads/1050/">
                                            Перенос значений одной...
                                        </a>

                                        <div class="userTitle">
                                            <a href="members/1834/" class="username" dir="auto">Turuhansky</a> posted <abbr class="DateTime" data-time="1611574676" data-diff="153339" data-datestring="25 янв 2021" data-timestring="14:37" title="25 янв 2021 в 14:37">Понедельник в 14:37</abbr>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="section widget-single">
                        <div class="secondaryContent widget sidebar-widget WidgetFramework_WidgetRenderer_Template" id="widget-15">
                            <h3>

                                Полезные ссылки

                            </h3>
                            <ul class="useful_links">
                                <li><a class="knowledge_base" href="#"><span style="font-weight: normal">База знаний</span></a></li>
                                <li><a class="help" href="https://register.atu.kz/ru_RU/%d0%b2%d0%b8%d1%80%d1%82%d1%83%d0%b0%d0%bb%d1%8c%d0%bd%d1%8b%d0%b9-%d0%b4%d0%b5%d0%ba%d0%b0%d0%bd%d0%b0%d1%82/"><span style="font-weight: normal">Виртуальный деканат</span></a></li>
                                <li><a class="blog" href="https://register.atu.kz/ru_RU/%d0%b2%d0%b8%d1%80%d1%82%d1%83%d0%b0%d0%bb%d1%8c%d0%bd%d1%8b%d0%b9-%d0%be%d1%84%d0%b8%d1%81-%d1%80%d0%b5%d0%b3%d0%b8%d1%81%d1%82%d1%80%d0%b0%d1%82%d0%be%d1%80%d0%b0/"><span style="font-weight: normal">Офис-регистратора</span></a></li>
                                <li><a class="video" href="#"><span style="font-weight: normal">Видео</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="section widget-single">
                        <div class="secondaryContent widget sidebar-widget WidgetFramework_WidgetRenderer_Users" id="widget-14">
                            <h3>
                                Топ пользователей
                            </h3>
                            <ul class="followedOnline">
                                <li class="Tooltip user-49">
                                    <a href="members/49/" class="avatar Av49s _plainImage" data-avatarhtml="true"><img src="/images/img/avatar_non.png" width="36" height="36" alt="pushkarev"></a>
                                </li>
                                <li class="Tooltip user-142">
                                    <a href="members/142/" class="avatar Av142s _plainImage" data-avatarhtml="true"><img src="/images/img/avatar_non.png" width="36" height="36" alt="arkarimov"></a>
                                </li>
                                <li class="Tooltip user-1655">
                                    <a href="members/1655/" class="avatar Av1655s _plainImage" data-avatarhtml="true"><img src="/images/img/avatar_non.png" width="36" height="36" alt="dimich1978"></a>
                                </li>
                                <li class="Tooltip user-102">
                                    <a href="members/102/" class="avatar Av102s _plainImage" data-avatarhtml="true"><img src="/images/img/avatar_non.png" width="36" height="36" alt="akarimov"></a>
                                </li>
                                <li class="Tooltip user-531">
                                    <a href="members/531/" class="avatar Av531s _plainImage" data-avatarhtml="true"><img src="/images/img/avatar_non.png" width="36" height="36" alt="alexfuse"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="section widget-single">
                        <div class="secondaryContent widget sidebar-widget WidgetFramework_WidgetRenderer_Stats" id="widget-4">
                            <h3>

                                Статистика форума

                            </h3>
                            <div class="pairsJustified">
                                <dl class="discussionCount"><dt style="font-weight: normal">Темы:</dt>
                                    <dd>@ViewBag.Statistics.Topic</dd></dl>
                                <dl class="messageCount"><dt style="font-weight: normal">Сообщения:</dt>
                                    <dd>@ViewBag.Statistics.Message</dd></dl>
                                <dl class="memberCount"><dt style="font-weight: normal">Пользователи:</dt>
                                    <dd>@ViewBag.Statistics.Users</dd></dl>
                                <dl><dt style="font-weight: normal">Новый пользователь:</dt>
                                    <dd><a href="#" class="username" >@ViewBag.Statistics.User.UserName</a></dd></dl>
                                <!-- slot: forum_stats_extra -->
                            </div>
                        </div>
                    </div>

                    <div class="widget WidgetFramework_WidgetRenderer_ShareThisPage" id="widget-5">


                        <div class="section infoBlock sharePage">
                            <div class="secondaryContent">
                                <h3>Поделиться этой страницей</h3>

                                <ul>
                                    <li><a href="#" class="fb-icon"></a></li>
                                    <li><a href="#" class="tw-icon"></a></li>
                                </ul>

                                <div>
                                    <a class="twitter-share" href="https://twitter.com/share?url=https://forum.elma-bpm.ru/&amp;lang=ru-RU" target="_blank">
                                        <i class="btn-icon"></i>
                                        <span class="btn-text">Tweet</span>
                                    </a>
                                </div>
                                <div class="fb-share">
                                    <a href="http://www.facebook.com/sharer.php?u=https://forum.elma-bpm.ru/" target="_blank">facebook</a>
                                </div>
                                <div class="linkedin-share">
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://forum.elma-bpm.ru/" target="_blank"></a>
                                </div>
                                <div class="vk-share">
                                    <a href="http://vkontakte.ru/share.php?url=https://forum.elma-bpm.ru/" target="_blank"></a>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </aside>
                
            </div>
        </div>
    </div>
